<style>
html,body {
  padding-top: 1px !important;
}
</style> 

<body style="padding-top: 0px;">
  <div class="limiter" >
    <div class="container-login100" style="background-image: url('https://free4kwallpapers.com/uploads/originals/2016/06/08/data-center-wallpaper.jpg') !important;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
    <div class="wrap-login100" style="box-shadow: rgba(0, 0, 0, 0.54) 3px 14px 13px 7px">
      <form class="login100-form validate-form" #f='ngForm' (ngSubmit)="submit(f)">
        <span class="login100-form-title p-b-26">
          Login
        </span>
        
  
        <div class="wrap-input100 validate-input" >
          <input #ts class="input100" type="text" name="username" placeholder="Username" [(ngModel)]="userName">
        </div>
  
        <div class="wrap-input100 validate-input" >
          <span class="btn-show-pass">
            <i class="fas fa-eye"></i>
          </span>
          <input #ts1 class="input100" type="password" name="password"  placeholder="Password" [(ngModel)]="passwordValue">
        </div>
  
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" (click)="userNamePassword(ts.value,ts1.value)">
               Login
            </button>
          </div>
        </div>
  
        <div class="text-center p-t-115">
          <span class="txt1">Ver 1.0<br>
            © Copyright 2020
          </span>
  
          <a class="txt2" href="https://asmltd.com" target="_blank">
            ASM Technologies
          </a>
        </div>
      </form>
    </div>
  </div>
  </div>
</body>

