th {
    width:75px !important;
}

.table-sticky>thead>tr>th,
.table-sticky>thead>tr>td {
	background: #009688;
	color: #fff;
	top: 0px;
	position: sticky;
}
.table-height {
	height: 320px;
	display: block;
	overflow: scroll;
	width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td {
	border: 1px solid #ddd;
}


///Progress Bar

.progress-title{
    color: #333;
    text-transform: uppercase;
    margin: 0 0 25px;
}
.progress{
	height: 8px;
    background: #e9e9ea;
    border-radius: 15px;
    margin-bottom: 28px;
    overflow: visible;
    position: relative;
}
.progress:before,
.progress:after{
    // content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 1;
}
.progress:after{
    border: 7px solid #e9e9ea;
    left: auto;
    right: 0;
}
.progress .progress-bar{
    box-shadow: none;
    border: none;
    border-radius: 15px;
  
    // -webkit-animation: animate-positive 1s;
    // animation: animate-positive 1s;
}
.progress .progress-value{
    width: 70px;
    height: 35px;
    line-height: 27px;
    border-radius: 20px;
    background: #fff;
    font-size: 14px;
    position: absolute;
    top: -12px;
    font-weight: 600;
    right: 0;
    z-index: 2;
}
.progress.orange:before{ border: 7px solid #fe3b3b; }
.progress.blue:before{ border: 7px solid #1a4966; }
.progress.green:before{ border: 7px solid #53aa2c; }
.progress.purple:before{ border: 7px solid #66406f; }
.progress.orange .progress-value{
    border: 5px solid #fe3b3b !important;
    color: #fe3b3b;
}
.progress.blue .progress-value{
    border: 5px solid #1a4966;
    color: #1a4966;
}
.progress.green .progress-value{
    border: 5px solid #53aa2c;
    color: #53aa2c;
}
.progress.purple .progress-value{
    border: 5px solid #66406f;
    color: #66406f;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}	

#multi_lines_text { white-space: pre-line; }

   

